.fixed {
  position: fixed;
}

// Main NavBar
nav {
  background: transparent;

  &.top {
    display: flex;
  }

  .navbar-brand{
    font-size: 1.2rem;
  }

  .navbar-item {
    display: block;
    padding: 6px 24px;

    &:hover,
    &:focus {
      background-color: transparent !important;
    }

    .icon {
      color: rgba(255,255,255,.7);
    }

    span {
      padding-left: 16px;
      color: $navBarColor;
    }
  }
}
