<template>
  <nav class="top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <nuxt-link to="/" class="navbar-item">
        <span>{{ config.title }}</span>
      </nuxt-link>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <nuxt-link to="/" class="navbar-item">
          <span>Inicio</span>
        </nuxt-link>

        <nuxt-link to="/mapa" class="navbar-item">
          <span>Mapa</span>
        </nuxt-link>

        <nuxt-link to="/data" href="#" class="navbar-item">
          <span>Data</span>
        </nuxt-link>
      </div>

    </div>
  </nav>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState('main', ['config'])
  }
}
</script>
