<template>
  <div>
    <div class="logo">
      <nuxt-link to="/" class="navbar-logo">
        {{ config.title }}
      </nuxt-link>
    </div>

    <nav>
      <nuxt-link to="/" class="navbar-item">
        <font-awesome-icon :icon="{ prefix: 'fas', iconName: 'home' }" class="icon"/>
        <span>Inicio</span>
      </nuxt-link>

      <nuxt-link to="/mapa" class="navbar-item">
        <font-awesome-icon :icon="{ prefix: 'fas', iconName: 'map-marked' }" class="icon"/>
        <span>Mapa</span>
      </nuxt-link>

      <nuxt-link to="/boxs" href="#" class="navbar-item">
        <font-awesome-icon :icon="{ prefix: 'fas', iconName: 'database' }" class="icon"/>
        <span>Agenda</span>
      </nuxt-link>

      <nuxt-link to="/data" href="#" class="navbar-item">
        <font-awesome-icon :icon="{ prefix: 'fas', iconName: 'database' }" class="icon"/>
        <span>Data</span>
      </nuxt-link>

      </nuxt-link>
    </nav>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState('main', ['config'])
  }
}
</script>

<style scoped lang="scss">
.logo {
  padding: 24px;

  .navbar-logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Monaco,Courier,monospace;
  }
}
</style>
