<template>
  <div class="layout">
    <div class="top">
      <the-nav-bar-top></the-nav-bar-top>
    </div>

    <main>
      <nuxt/>
    </main>

    <the-footer></the-footer>

    <style>
      :root {
        --nav-bar-color: {{ config.nav_bar_color }};
        --nav-bar-background: {{ config.nav_bar_background }};
      }
    </style>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import TheNavBarTop from '~/components/TheNavBarTop'
import TheFooter from '~/components/TheFooter'

export default {
  components: {
    TheNavBarTop,
    TheFooter
  },
  computed: {
    ...mapState('main', ['config'])
  },
  mounted: function () {
    this.$store.dispatch('main/fetchData')
  }
}
</script>

<style scoped lang="scss">
.layout {

  .top {
    background: var(--nav-bar-background);
  }
}
</style>
