<template>
  <section class="section">
    <div class="columns is-mobile">
      <card
        title="Curso Porcinos"
        icon="alert-decagram"
      >
        CIAP <a href="http://www.ciap.org.ar">
          Curso
        </a>
      </card>

      <card
        title="Curso Cama Profunda"
        icon="cellphone-link"
      >
        <b class="has-text-grey">
          CIAP
        </b> Curso
      </card>

      <card
        title="Curso Alimentación"
        icon="alert-decagram"
      >
        CIAP <a href="http://www.ciap.org.ar">
          Curso
        </a>
      </card>

      <card
        title="Visita a Productores"
        icon="arrange-bring-to-front"
      >
        CIAP
      </card>
    </div>
  </section>
</template>

<script>
import Card from '~/components/Card'

export default {
  name: 'HomePage',

  components: {
    Card
  }
}
</script>
