<template>
  <section class="hero is-success is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Agenda
        </h1>
        <h2 class="subtitle">
          Agenda de actividades (cursos, congresos, ...)
        </h2>
      </div>
    </div>
  </section>
</template>

<style scoped lang="scss">
.hero {
  background: linear-gradient(to top, rgba(46, 49, 65, 0.7), rgba(46, 49, 65, 0.7));
  background-size: cover;
}
</style>
