<template>
  <section class="section">

    </h2>

    <b-field label="Search by name">
      <b-input v-model="filterBy" />
    </b-field>

    <template>
      <b-table
        :data="dataFilter"
        :columns="columns"
        :paginated="isPaginated"
        :per-page="perPage"
        :striped="isStriped"
        :loading="isLoading"
      ></b-table>
    </template>
  </section>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data() {
    return {
      // Table
      dataFilter: [],
      columns: [],
      isPaginated: true,
      perPage: 15,
      isStriped: true,
      isLoading: true,

      // Filter
      filterBy: ''
    }
  },
  computed: {
    ...mapState('main', ['config', 'data'])
  },
  mounted: function() {
    if (this.data.length > 0) this.init()
  },
  watch: {
    data: function () {
      this.init()
    },
    filterBy: function (filterBy) {
      let regex = RegExp(filterBy, 'i')

      let dataFilter = this.data.filter(row => {
        let rowHasRegex = []
        Object.keys(row).forEach(key => {

          if (this.config.filter_by_columns.includes(key)) {
            rowHasRegex.push(regex.test(row[key]))
          }
        })

        return rowHasRegex.some(ele => ele)
      })

      this.dataFilter = dataFilter
    }
  },
  methods: {
    init: function () {
      let columns = this.data.columns.filter(col => this.config.table_columns.includes(col))
      columns = columns.map(col => {
      	return {
      		field: col,
      		label: col.replace(/_/g, ' ')
      	}
      })

      this.isLoading = false
      this.dataFilter = [...this.data]
      this.columns = columns.slice(0, 10)
    }
  }

}
</script>
