<template>
  <section class="hero is-success is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Red de Asignaturas Sistemas Productivos Porcinos
        </h1>
        <h2 class="subtitle">
          CIAP
        </h2>
      </div>
    </div>
  </section>
</template>

<style scoped lang="scss">
.hero {
    background: linear-gradient(to top, hsl(235, 15%, 53%), hsl(235, 15%, 53%)), url("https://ciap.gitlab.io/red.porcina/banner.jpg_") no-repeat center center fixed;
  background-size: cover;
}
</style>
