<template>
  <section class="section">

    <div id="map"></div>
  </section>
</template>

<script>
import { mapState } from 'vuex'
import * as L from 'leaflet'

export default {
  computed: {
    ...mapState('main', ['config', 'data'])
  },
  mounted: function() {
    if (this.data.length > 0) this.initMap()
  },
  watch: {
    data: function () {
      this.initMap()
    }
  },
  methods: {
    initMap: function () {
      const map = L.map('map').setView(this.config.initial_coords, this.config.initial_zoom)

      L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      	attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
      	maxZoom: 18
      }).addTo(map)

      this.data.forEach(row => {
        const circle = L.circle([+row.latitud, +row.longitud], {
        	color: 'red',
        	fillColor: '#f03',
        	fillOpacity: 0.5,
        	radius: 500
        })

        let popup = ''
        Object.keys(row).forEach(key => {
          if (this.config.popup_columns.includes(key)) {
            popup += `<strong>${key}:</strong> ${row[key]} </br>`
          }
        })

        circle.bindPopup(popup)
        circle.addTo(map)
      })
    }
  }
}
</script>

<style scoped>
#map {
  width: 100%;
  height: 600px;
}
</style>
